<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Yousef Abdelrahman/IdeaProjects/ConvertedinAssessment">
        <classes>
            <class name="GoogleTest.FirstTest"/>
            <class name="TheInternetTest.SecondTest"/>
            <class name="TheInternetTest.ThirdTest"/>
        </classes>
    </test>
</suite>